$btnColor:#5ec9e3;

* {
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  color: #415261;
}

@mixin fullW {
  width: 100%;
  height: 50px;
}

.main_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: auto;


  .login_image_block {

    width: 70%;

    .login_image {
      @include fullW;
      height: 100%;
    }
  }

  .login_block {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;

    .login_block_container {
      margin: 110px 0 0 0;
      width: 80%;
      display: flex;
      flex-direction: column;
      height: auto;

      .main_text {
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;

      }

      .register_link {
        color: $btnColor;
      }

      .input_wrapper {
        margin: 50px 0 0 0;
      }

      .first_input,
      .second_input {
        @include fullW;
        background-color: #e7effe;
        border: 1px solid #c3c3c3;
        margin: 6px 0 0 0;
        border-radius: 5px;

      }

      .password_recovery {
        display: flex;
        flex-direction: row-reverse;

      }

      .password_recovery_text {
        color: rgba(141, 151, 160, 0.8);
      }


      .checkbox_wrapper {
        display: flex;

        .checkbox {
          width: 1.3em;
          height: 1.3em;
          background-color: white;
          border-radius: 50%;
          vertical-align: middle;
          border: 1px solid #ddd;
          -webkit-appearance: none;
          outline: none;
          cursor: pointer;
        }

        .checkbox:checked {
          background-color: $btnColor
        }

        .remember_text {
          line-height: 1.4;
          margin: 0 0 0 20px;
        }
      }

      .button {
        @include fullW;
        background-color: $btnColor;
        color: #ffffff;
        height: 40px;
        border-radius: 5px;
        margin: 70px 0 0 0;
      }
    }
  }

}
