<div class="main_container">
  <div class="login_image_block">
    <img class="login_image" src="../../assets/img/login_image.jpg" alt="">
  </div>
  <div class="login_block">
    <div class="login_block_container">
      <div class="main_text">Log in</div>
      <div class="text_below">
        <p>If you don't have an account yet, please <a href="" class="register_link">register</a> first</p>
      </div>
      <div class="input_wrapper">
        <div class="first_input_wrapper">
          <input class="first_input" type="text">
        </div>
        <div class="second_input_wrapper">
          <input class="second_input" type="text">
        </div>
      </div>
      <div class="password_recovery">
        <a class="password_recovery_text" href="">I forgot my password</a>
      </div>
      <div class="checkbox_wrapper">
        <input class="checkbox" type="checkbox">
        <p class="remember_text">Remember me</p>
      </div>
      <div class="button_wrapper">
        <button class="button">Log In</button>
      </div>
    </div>

  </div>
</div>
