<div class="main_container">
  <div class="register_image_block">
    <img class="register_image" src="../../assets/img/registration_image.jpg" alt="">
  </div>
  <div class="register_block">
    <div class="register_block_container">
      <div class="main_text">Register</div>
      <div class="text_below">
        <p class="text_below_p ">Please enter your name and e-mail here for the registration</p>
      </div>
      <div class="input_wrapper">
        <div class="first_name_input_wrapper">
          <input placeholder="First name" class="inputStyle" type="text">
        </div>
        <div class="last_name_input_wrapper">
          <input placeholder="Last name" class="inputStyle" type="text">
        </div>
        <div class="email_input_wrapper">
          <input placeholder="E-Mail" class="inputStyle" type="text">
        </div>
        <div class="password_input_wrapper">
          <input placeholder="Your password" class="inputStyle" type="text">
        </div>
        <div class="password_confirm_input_wrapper">
          <input placeholder="Confirm password" class="inputStyle" type="text">
        </div>
      </div>

      <div class="button_wrapper">
        <button class="button">Log In</button>
      </div>
    </div>

  </div>
</div>
